<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Sansita+Swashed:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="home">
    <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#work">Work</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Resume</a>
        </li>
      </ul>
    <div class="name">
        <h1>Bhuvan Monga</h1>
    </div>
  <div class="profile">
      <img src="https://i.ibb.co/j6xcZmp/Whats-App-Image-2020-10-12-at-12-31-50-AM.jpg" alt="">
  </div>
  <div class="container-fluid objective">
      <h3>Objective</h3>
      <p>I have always categorized my career into short term and long term goals. It is beneficial as well as promising. <br>I have worked for several years on the same principle. Surely I have a list of goals prepared for this job position. <br>My short-term goals are fairly simple. I want to settle down in the new work environment as quickly as I can. <br>It is necessary to adapt oneself to a new environment for better performance.<br> Apart from this, my long-term goals are to grow into the job. Progress is the key.<br> I want to see myself extracting every single drop of experience as I move ahead.<br> These are not just goals but a guideline that I have to follow.<br> In the end, it can be advantageous to me as well as this organization.</p>
  </div>
</div>
  <div class="container-fluid work-title">
      <h1>Work Experience</h1>
      <div class="work" id="work">
            <div class="card border-success mb-3" style="max-width: 18rem;">
                <div class="card-header bg-transparent border-success">DOUBTNUT'S</div>
                <div class="card-body text-dark">
                  <h5 class="card-title">Bussiness development Manager</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="card-footer bg-transparent border-success">SEPT 2020- PRESENT</div>
              </div>
              <div class="card border-success mb-3" style="max-width: 18rem;">
                <div class="card-header bg-transparent border-success">Quality Tutorial (LIDO LEARNING)</div>
                <div class="card-body text-dark">
                  <h5 class="card-title">Business Development Associative</h5>
                  <div class="expanded-text">
                    <p class="text">
                    <span class="short-name">Direct Sales and Marketing, through counseling sessions for both parents and students,depending on theneed..</span>
                  <span class="longer-name"> Direct Sales and Marketing, through counseling sessions for both parents and students,depending on theneed.
                    Handlingleads/Clients.
                    Customer Engagement through telephony and directinteractions
                    Doing Inside Sales as well .</span> </p>
                  </div>
                </div>
                <div class="card-footer bg-transparent border-success">Sep 2019 - Sep 2020</div>
              </div>
              <div class="card border-success mb-3" style="max-width: 18rem;">
                <div class="card-header bg-transparent border-success">Inway Pvt. Ltd.</div>
                <div class="card-body text-dark">
                  <h5 class="card-title">Business Development Associative</h5>
                  <p class="card-text">Managing a team of 12 people and driving revenue for the organization through chain marketingmodel
                    Weekly revenue responsibility for 12employees..</p>
                </div>
                <div class="card-footer bg-transparent border-success">Jan 2019 - Aug 2019</div>
              </div>
              <div class="card border-success mb-3" style="max-width: 18rem;">
                <div class="card-header bg-transparent border-success">Header</div>
                <div class="card-body text-dark">
                  <h5 class="card-title">Elite production</h5>
                  <p class="card-text">Own Startup ,Managed many Events in Chandigarh
                    Also worked with the Band “The LocalTrain”.</p>
                </div>
                <div class="card-footer bg-transparent border-success">Jan 2017 - Feb 2018</div>
              </div>
          </div>
    </div>
    <footer class="py-5 bg-light">
        <div class="container text-center">
      </a>
            <ul class="new1">Academic Details</ul>
         <p class="new">1.Chandigarh group of colleges
            BTECH -CSE, 7.4<br>
            2.Maharana pratap public school
            12th, 74.4%, 2016<br>
            3.Maharana pratap public school
            10th, 8.6, 2014</p>
          <hr class="my-5">
          <div class="mb-3">
               <a href="https://www.linkedin.com/in/bhuwan-monga-40bb36151/" class="w-6 mx-1">
                <i class="fa fa-linkedin"></i>
                     <path id="Shape" d="M7.3,0.9c1.5,-0.6 3.1,-0.9 4.7,-0.9c1.6,0 3.2,0.3 4.7,0.9c1.5,0.6 2.8,1.5
                        3.8,2.6c1,1.1 1.9,2.3 2.6,3.8c0.7,1.5 0.9,3 0.9,4.7c0,1.7 -0.3,3.2
                        -0.9,4.7c-0.6,1.5 -1.5,2.8 -2.6,3.8c-1.1,1 -2.3,1.9 -3.8,2.6c-1.5,0.7
                        -3.1,0.9 -4.7,0.9c-1.6,0 -3.2,-0.3 -4.7,-0.9c-1.5,-0.6 -2.8,-1.5
                        -3.8,-2.6c-1,-1.1 -1.9,-2.3 -2.6,-3.8c-0.7,-1.5 -0.9,-3.1 -0.9,-4.7c0,-1.6
                        0.3,-3.2 0.9,-4.7c0.6,-1.5 1.5,-2.8 2.6,-3.8c1.1,-1 2.3,-1.9
                        3.8,-2.6Zm-0.3,7.1c0.6,0 1.1,-0.2 1.5,-0.5c0.4,-0.3 0.5,-0.8 0.5,-1.3c0,-0.5
                        -0.2,-0.9 -0.6,-1.2c-0.4,-0.3 -0.8,-0.5 -1.4,-0.5c-0.6,0 -1.1,0.2
                        -1.4,0.5c-0.3,0.3 -0.6,0.7 -0.6,1.2c0,0.5 0.2,0.9 0.5,1.3c0.3,0.4 0.9,0.5
                        1.5,0.5Zm1.5,10l0,-8.5l-3,0l0,8.5l3,0Zm11,0l0,-4.5c0,-1.4 -0.3,-2.5
                        -0.9,-3.3c-0.6,-0.8 -1.5,-1.2 -2.6,-1.2c-0.6,0 -1.1,0.2 -1.5,0.5c-0.4,0.3
                        -0.8,0.8 -0.9,1.3l-0.1,-1.3l-3,0l0.1,2l0,6.5l3,0l0,-4.5c0,-0.6 0.1,-1.1
                        0.4,-1.5c0.3,-0.4 0.6,-0.5 1.1,-0.5c0.5,0 0.9,0.2 1.1,0.5c0.2,0.3 0.4,0.8
                        0.4,1.5l0,4.5l2.9,0Z"></path>
                  </svg>
               </a>
               <a href="https://mail.google.com/mail/?view=cm&fs=1&to=bhuwanmonga123@gmail.com" class="w-6 mx-1">
                <i class="fa fa-google-plus"></i>
                   <path id="Shape" d="M7.3,0.9c1.5,-0.6 3.1,-0.9 4.7,-0.9c1.6,0 3.2,0.3 4.7,0.9c1.5,0.6 2.8,1.5
                      3.8,2.6c1,1.1 1.9,2.3 2.6,3.8c0.7,1.5 0.9,3 0.9,4.7c0,1.7 -0.3,3.2
                      -0.9,4.7c-0.6,1.5 -1.5,2.8 -2.6,3.8c-1.1,1 -2.3,1.9 -3.8,2.6c-1.5,0.7
                      -3.1,0.9 -4.7,0.9c-1.6,0 -3.2,-0.3 -4.7,-0.9c-1.5,-0.6 -2.8,-1.5
                      -3.8,-2.6c-1,-1.1 -1.9,-2.3 -2.6,-3.8c-0.7,-1.5 -0.9,-3.1 -0.9,-4.7c0,-1.6
                      0.3,-3.2 0.9,-4.7c0.6,-1.5 1.5,-2.8 2.6,-3.8c1.1,-1 2.3,-1.9
                      3.8,-2.6Zm-0.3,7.1c0.6,0 1.1,-0.2 1.5,-0.5c0.4,-0.3 0.5,-0.8 0.5,-1.3c0,-0.5
                      -0.2,-0.9 -0.6,-1.2c-0.4,-0.3 -0.8,-0.5 -1.4,-0.5c-0.6,0 -1.1,0.2
                      -1.4,0.5c-0.3,0.3 -0.6,0.7 -0.6,1.2c0,0.5 0.2,0.9 0.5,1.3c0.3,0.4 0.9,0.5
                      1.5,0.5Zm1.5,10l0,-8.5l-3,0l0,8.5l3,0Zm11,0l0,-4.5c0,-1.4 -0.3,-2.5
                      -0.9,-3.3c-0.6,-0.8 -1.5,-1.2 -2.6,-1.2c-0.6,0 -1.1,0.2 -1.5,0.5c-0.4,0.3
                      -0.8,0.8 -0.9,1.3l-0.1,-1.3l-3,0l0.1,2l0,6.5l3,0l0,-4.5c0,-0.6 0.1,-1.1
                      0.4,-1.5c0.3,-0.4 0.6,-0.5 1.1,-0.5c0.5,0 0.9,0.2 1.1,0.5c0.2,0.3 0.4,0.8
                      0.4,1.5l0,4.5l2.9,0Z"></path>
                </svg>
             </a>
            </div>
          <p class="text-secondary new3">
           Contact-9467425337<br>
           Address-D-117 university campus kurukshetra near swimming pool,kurukshetra,13119</p>
        </div>
      </footer>
</body>
</html>
